<%- @seasons.each do |season| -%>
    <div class="col-sm-6 col-md-3 encadrement-medium" style="background-color:white">
        <h2><%= season.title_media %> <%= season.season_number %></h2>
    </div>
<% end %>
