<%- @seasons.each do |season| -%>   
    <div class="col-sm-6 col-md-3 encadrement-medium" style="background-color:white">          
        <h2><%= season.Title_Media %> <%= season.Season_Number %></h2>
    </div>
<% end %>