<div class="container encadrement-media">
    <% if user_signed_in? %>
        <div class="col-md-12">
            <h1 class="text-center">Mes séries</h1>
        </div>
        <%- @member_media.each do |member_medium| -%>
            <% if member_medium.user_id == current_user.id %>
                <div class="col-sm-6 col-md-3 encadrement-medium-perso">
                    <%- @media.each do |medium| -%>
                        <% if medium.id == member_medium.medium_id %>
                            <h2 class="text-center"><%= medium.title %></h2>
                            <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), member_medium_path(member_medium)) %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <script type="text/javascript">
        window.location.href="/users/sign_up" 
      </script>
    <% end %>
</div>
