<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <%- @member_media.each do |member_medium| -%>
        <% if member_medium.user_id == current_user.id %>                         
            <%- @media.each do |medium| -%>
                    <% if medium.id == member_medium.medium_id && medium.style == "SERIE" %>
                        <div class="item active">
                            <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), member_medium_path(member_medium)) %>
                            <% if member_medium.current_episode != 0 %>
                                <p> Saison en cours : <%= member_medium.current_season %> </p>
                                <p> Episode en cours : <%= member_medium.current_episode %> </p>
                            <% end %>
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    <% end %>
            <% end %>
        <% end %>
      <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>