<div id="IndexTitle">
    <h1>KrokmouStream</h1>
    <p>Le meilleur du streaming</p>
</div>

<div class="container encadrement-media">
    <%- @media.each do |medium| -%>   
        <div class="col-sm-6 col-md-3 encadrement-medium">            
            <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), medium_path(medium)) %>
        </div>
    <% end %>
</div>
