<h1>KrokmouStream</h1>

<%- @media.each do |medium| -%>
  <section class="container">
      <div class="col-md-12">
        <h2><%= medium.Title %></h2>
        <p><%= medium.Type %></p>
        <p><%= medium.Style %></p>
		<p><%= medium.Director %></p>        
      </div>
    
  </section>
<% end %>

