<h1>Toutes nos séries</h1>

<%- @media.each do |medium| -%>
  <section>
    <h2><%= medium.Title %></h2>
    <p><%= medium.Type %></p>
    <p><%= medium.Style %></p>
		<p><%= medium.Director %></p>
  </section>
<% end %>