/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#IndexTitle{
    color:white;
    font-size: 42px;
    text-align: center;
    margin-left: 30px;
    font-weight: bolder;
}

#IndexTitle p{
    font-size: 15px;
}

.encadrement-media{
    border-style: solid;
    border-width: 10px;
    border-color: black;
    background-color: dimgrey;
}

.encadrement-medium{
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

.picture{
    width: 100%;
}

.picture_fullscreen{
    width: 100%;
}

.media, .Season{
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 10px;    
    background-color: dimgray;
    color: white;
    margin-bottom: 10px;
}

.media h1{
    margin-bottom: 20px;    
    text-align: center;
}

.medium{
    background-color: royalblue;
    justify-content: space-around;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    color:black;
}

.Episode{
    background-color: royalblue;
    justify-content: space-around;
    font-size: 14px;
    color:black;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    margin: 3px;
}

.Season{
    margin-bottom: 5px;
    font-size: 20px;
}

.pointer{
    cursor: pointer;
}

.container{
    padding-left: 0;
    padding-right: 0;
}